<script setup lang="ts">
import MainLayout from "@/layout/MainLayout.vue";
import FullLayout from "@/layout/FullLayout.vue";
import LoadingDialog from "./components/LoadingDialog.vue";
import MessageDialog from "./components/MessageDialog.vue";
import DialogViewUser from "./views/users/DialogViewUser.vue";
import DialogViewProduct from "./views/products/DialogViewProduct.vue";
</script>

<template>
  <component
    :is="$route.meta.layout === 'MainLayout' ? MainLayout : FullLayout"
  ></component>
  <LoadingDialog></LoadingDialog>
  <MessageDialog></MessageDialog>
  <DialogViewUser></DialogViewUser>
  <DialogViewProduct></DialogViewProduct>
</template>

<style scoped></style>
